@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  background: #3767ad;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.button {
  align-self: center;
  &__add {
    font-size: 18px;
    border-radius: 4px;
    margin-bottom: 37px;
    width: 218px;
    min-height: 47px;
  }
  &__delete {
    font-size: 14px;
    background: none;
    border: none;
    width: 184px;
    min-height: 23px;
  }
}
.counter {
  position: absolute;
  padding: 96px;
  font-size: 112px;
  align-self: center;
}
.heading {
  align-self: center;
  font-size: 55px;
}

.image {
  margin-bottom: 48px;
  position: relative;
}
